<h4>SINCRONIZAR INFORMACION DE REPORTES</h4>
<hr>
<div class="row">
	<div class="col-12">
		<div class="form-grup">
			<label for="fecha-encuesta">Encuesta:</label>
			<select class="form-curve">
				<option>PRIMERA ENCUESTA FEB 2018</option>
				<option>SEGUNDA ENCUESTA MAR 2018</option>
				<option>TERCERA ENCUESTA MAY 2018</option>
				<option>CUARTA ENCUESTA JUN 2018</option>
				<option>QUINTA ENCUESTA JUL 2018</option>
			</select>
		</div>
		<br>
		<button class="btn btn-secondary">SINCRONIZAR</button>
	</div>
	
</div>