<navbar></navbar>
<h4>Resultados con Imagenes.</h4>
<hr>
<div class="container">
    <div class="row">
        <div class="col-8 offset-2">
            <div class="form-grup">
                <label for="Reto-id">Respuestas:</label>
                <select class="form-curve" (change)="ObtenerRespuestas()" name="Reto" id="Reto" [(ngModel)]="idreto">
                    <option value="reto4">Refrigeradores con Branding</option>
                    <option value="reto5">Refrigeradores sin Branding</option>
			    </select>
            </div>
        </div>

    </div>
</div>
<hr>
<div class="container">
    <div class="row">
        <div *ngFor="let respuestaDatos of respuestaDatos" class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 ">
            <img src="{{respuestaDatos.respuesta}}" alt="respuestaDatos.idpreguntaai" class="img-responsive resizes">
        </div>
    </div>
</div>