<div class="container">
    <div class="row">
        <div class="col-4 offset-2">
            <p>Nombre: {{nombre}} </p>
            <p>Telefono: {{telefono}} </p>
            <p>Fecha: 31/01/2018</p>
            <p>Esquema: {{esquema}} </p>
            <p>Prestamo: {{prestamo}}</p>
            <p>IVA: {{iva}}</p>
            <p>Plazo: {{plazo}}</p>
        </div>
        <div class="col-4">
            <img src="{{imagenuno}}" alt="">
            <img src="{{imagendos}}" alt="">
        </div>
    </div>
</div>