<navbar></navbar>

<h4>RESULTADOS DE ENCUESTA - CONSOLIDADO</h4>
<hr>
<div class="row">
    <div class='col-8 form-group offset-2'>
        <form class="col-md-12">
            <div class="form-curve">
                <label>Encuesta:</label>
                <select class="form-curve" name="Reto" id="Reto" (change)="obtenerPreguntas()" [(ngModel)]="idreto">
			        <option *ngFor="let retos of retos" value="{{retos.idreto}}">{{retos.descripcion}}</option>
                </select>

            </div>
        </form>
    </div>
</div>
<!--            <label [(ngModel)]="idreto">Fecha de envio: {{reto.fechaenvio}} {{reto.horaenvio}} </label>
                <label [(ngModel)]="idreto">Enviados: {{reto.cantidadinvitados}} </label>
                <label [(ngModel)]="idreto">Contestados: {{reto.cantidadrespuestas}} </label>-->

<div class="row">
    <div class="col-8 form-group offset-2">
        <label>Pregunta:</label>
        <select class="form-curve" (change)="obtenerid()" id="idpregunta" [(ngModel)]="idpregunta">
			<option *ngFor="let pregunta of pregunta" value="{{pregunta.idpreguntaai}}">{{pregunta.descripcion}}</option>
        </select>
        <button class="btn btn-secondary" (click)="obtenerDatoGrap()">Actualizar</button>
    </div>
</div>

<hr>

<div *ngIf="chartsData" style="display: block">

    <canvas baseChart [data]="pieChartData" [labels]="pieChartLabels" [chartType]="pieChartType" (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)"></canvas>
</div>