<navbar></navbar>

<h4>RESULTADOS DE ENCUESTA - CONSOLIDADO</h4>
<hr>
<div class="row">
    <div class='col-8 offset-2 form-group'>
        <form>
            <div class="form-group">
                <label for="Reto-id">Encuesta:</label>
                <select class="form-curve" name="Reto" id="Reto" (change)="obtenerPreguntas()" [(ngModel)]="idreto">
			        <option *ngFor="let retos of retos" value="{{retos.idreto}}">{{retos.descripcion}}</option>
                </select>
            </div>
        </form>
    </div>
</div>

<div class="row cen" *ngIf="retoDetalle">
    <div class="col-8 form-group offset-2">
        <label>Detalle de Reto:</label>
        <table class="cen">
            <tr>
                <th>Fecha de envio:</th>
                <th>Cantidad de Invitados:</th>
                <th>Cantidad de Contestados: </th>
            </tr>
            <tr *ngFor="let retoDetalle of retoDetalle">
                <td> {{retoDetalle.fechaenvio}}</td>
                <td>{{retoDetalle.cantidadinvitados}}</td>
                <td>{{retoDetalle.cantidadrespuestas}}</td>
            </tr>
        </table>
    </div>
</div>

<hr>

<div *ngIf="chartsData" style="display: block">
    <canvas baseChart [data]="pieChartData" [labels]="pieChartLabels" [chartType]="pieChartType" (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)"></canvas>
</div>