.logo{
	width: 80%;
	text-align: center;
}
.blue{
	color: blue
}
.red{
	color: red
}
.container{
	padding-top: 50px;
	text-align: center;
}
.nav-sty{
	font-size: 1.2rem;
	background-color: #e3f2fd;
}
