<div style="display: block">
    <canvas baseChart [data]="pieChartData" [labels]="pieChartLabels" [colors]="pieChartColor" [chartType]="pieChartType" (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)"></canvas>
</div>
<!--p>
  line-chart-demo works!
</p-->
<div class="row">
    <div class="col-md-5">
        <h2>chartdemo</h2>
        <ul class="list-group">
            <li class="list-group-item" *ngFor="let chartdemo of chartsdemo">
                {{chartdemo.porciento}}
            </li>
        </ul>
        <!--button class="btn btn-warning" (click)="createNewContact()">New</button-->
    </div>
    <!--div class="col-md-5 col-md-offset-2">
    <contact-details
      [contact]="selectedContact"
      [createHandler]="addContact"
      [updateHandler]="updateContact"
      [deleteHandler]="deleteContact">
    </contact-details>
  </div-->
</div>