<p>
    ------------------------------------------------------------------------
</p>
<p>
    Componente de retos
</p>
<div class="row">
    <div class="col-md-5">
        <h2>Retos</h2>
        <table style="width:250%">
            <ul class="list-group">
                <th>
                    Id Reto
                </th>
                <th>
                    Descripcion
                </th>
                <th>
                    Opciones
                </th>
                <tr>
                    <th>
                        <li class="list-group-item" *ngFor="let retos of retos" style="height:50px">
                            {{retos.idreto}}
                        </li>
                    </th>
                    <th>
                        <li class="list-group-item" *ngFor="let retos of retos" style="width:200%" style="height:50px">
                            {{retos.descripcion}}
                        </li>
                    </th>
                    <th>
                        <li class="list-group-item" *ngFor="let retos of retos" style="height:50px">
                            <button class="btn btn-primary" (click)="selectReto(retos)" [class.active]="retos === selectedReto">Estadisticas</button>
                        </li>
                    </th>
                    <th>
                        <li class="list-group-item" *ngFor="let retos of retos" style="height:50px">
                            <button class="btn btn-primary" (click)="selectRespuestas(retos)" [class.active]="retos === selectedReto">Resultados</button>
                        </li>
                    </th>
                </tr>
            </ul>
        </table>
    </div>
    <div class="col-md-5 col-md-offset-2">
        <reto-detalle [reto]="selectedReto">
        </reto-detalle>
    </div>
    <div class="col-md-5 col-md-offset-2">
        <retos-pregunta [reto]="selectedReto">
        </retos-pregunta>
    </div>
</div>