<navbar></navbar>

<retos-comp></retos-comp>
<h4>SINCRONIZAR INFORMACION DE REPORTES</h4>
<hr>
<div class="row">
    <div class="col-12">
        <div class="form-grup">
            <label for="Reto-id">Encuesta:</label>
            <select class="form-curve" name="Reto" id="Reto" [(ngModel)]="idreto">
				<option *ngFor="let retos of retos" value="{{retos.idreto}}">{{retos.descripcion}}</option>
			</select>
        </div>

        <br>
        <button class="btn btn-secondary" (click)="actualizarReto()">SINCRONIZAR</button>
    </div>

</div>