<navbar></navbar>

<h4>SINCRONIZAR INFORMACION DE REPORTES</h4>
<hr>

<div class="row">
    <div class="col-12">
        <div class="form-grup">
            <label for="Reto-id">Encuesta:</label>
            <select class="form-curve" name="Reto" id="Reto" [(ngModel)]="idreto">
				<option *ngFor="let retos of retos" value="{{retos.idreto}}">{{retos.descripcion}}</option>
			</select>
        </div>

        <br>
        <button class="btn btn-secondary" (click)="actualizarReto()">SINCRONIZAR</button>
    </div>

</div>
<div class="alert alert-light alert-dismissible fade show" *ngIf="hecho" role="alert">
    <h3 class="alert-heading">Sincronización correcta!</h3>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
     </button>
</div>