<div *ngIf="reto" class="row">
    <form class="col-md-12">
        <div class="form-group">
            <label for="reto-idreto">Estadisticas </label>
            <p>
            </p>
            <p>
            </p>

            <label for="reto-idreto">idreto: {{reto.idreto}} </label>
            <p>
            </p>
            <label for="reto-idreto">descripcion: {{reto.descripcion}} </label>
            <p>
            </p>
            <label for="reto-idreto">fecha de envio : {{reto.fechaenvio}} {{reto.horaenvio}} </label>
            <p>
            </p>
            <label for="reto-idreto">enviados: {{reto.cantidadinvitados}} </label>
            <p>
            </p>
            <label for="reto-idreto">contestados: {{reto.cantidadrespuestas}} </label>
            <!--input class="form-control" name="reto-idreto" [(ngModel)]="reto.idreto" placeholder="idreto" /-->
        </div>
    </form>
</div>